@import url("https://use.typekit.net/tij3zwt.css");
@import url("https://use.typekit.net/tij3zwt.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    background: white;
    font-size: 80%;
    color: rgb(110, 109, 109);
    margin: 0px;
}
header {
    background: url("grille.png");
    margin-top: 0px; 
}
#header1 {
    display: flex;
    justify-content: center;
}
.header2 {
    margin-left: -10px;
    margin-right: -10px;
}
li {
    padding: 7px;   
}
header li {
    font-family: "droid-sans";
    letter-spacing: 0px;
}
.headerli {
    margin-top: -5px;
}
.liste {
    list-style: none;
    font-size: 10px;
    margin-left: -5px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.titre {
    font-size: 15px;
    font-family: "Oswald";
    transform: scaleY(1.1);
}
header img {
    margin-right: 90px;
    width: 180px;
    height: 105px;
    margin-top: 30px;    
}  
#a1 {
    width: 110px;
    height: 5px;
    background-color: rgb(243, 135, 11);
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
}
#a2 {
    width: 110px;
    height: 5px;
    background-color: rgb(243, 239, 8);
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
}
#a3 {
    width: 110px;
    height: 5px;
    background-color: rgb(105, 240, 116);
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
}
#a4 {
    width: 110px;
    height: 5px;
    background-color: rgb(11, 7, 248);
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
}
#a5 {
    width: 110px;
    height: 5px;
    background-color: rgb(196, 6, 196);
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
}
iframe {
    margin-top: 25px;
    margin-bottom: 35px;
    border-top: solid 1px rgb(230, 224, 224);
}
#block1 {
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(248, 244, 244, 0.5);
    border-bottom: solid 1px rgba(248, 244, 244, 0.5);
    margin-top: 10px;
}
#block2 {
    display: flex;
    justify-content: center;
    background: url("grille.png");
    margin-top: 10px;
    padding: 20px;
}
#block2 i {
    font-size: 20px;
    color: gray;
}
#block3 {
    border-top: solid 1px rgba(248, 244, 244, 0.5);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(248, 244, 244, 0.5);
}
#golf1 {
    border: solid 1px rgb(230, 224, 224);
    margin-top: 30px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-right: 20px;
    width: 210px;
    height: 350px;
}
#accrobranche1{
   margin-right: 40px; 
}
#accrobranche1 h2 {
    margin-top: 40px;
}
.orange {
    margin-bottom: -8px;
    color: rgb(255, 115, 0);
    font-family: "Oswald";
    font-size: 15px;
    font-weight: 500;
}
.blockMargeBottom {
    margin-bottom: 40px;
}
.block3Paragraphe {
    line-height: 20px;
    font-family: "droid-sans";
}
#COMMENTAIRES1 h2 {
    margin-top: 40px;
}
#COMMENTAIRES1 img {
    border: solid 1px rgba(194, 191, 191, 0.5);
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
}
#footer1 {
    background: url("grille.png");
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
#footer1 h2 {
    margin-bottom: 1px;
    font-family: "Oswald";
    color: rgb(175, 174, 174);
    letter-spacing: 0px;
    font-size: 14px;
}
#footer1 li {
    font-size: 11.5px;
}
footer ul {
    list-style: none;
}
footer img {
    margin-bottom: -12px;
}
#route {
    margin-top: 8px;
    font-family: "droid-sans"; 
    letter-spacing: 0px;
}
#Jardiland {
    margin-top: -10px;
    margin-left: 28px;
    font-family: "droid-sans"; 
    letter-spacing: 0px;
}
a {
    color: grey;
}
.footer1Paragraphe {
    line-height: 20px;
    font-family: "droid-sans"; 
    letter-spacing: 0px;
}
.paraImportant {
    margin-top: -5px;
    font-family: "droid-sans"; 
    font-weight: bold;
    letter-spacing: 0px;
}
#commentMarginTop {
    margin-top: -10px;
}
#contacte {
    margin-left: -80px;
}
#billet {
    margin-left: 60px;    
   }
#blablaMarginLeft {
    margin-left: -10px;
}
.footer1MarginBottom {
    margin-bottom: 25px;
}
i {
    color: rgb(175, 174, 174);
}
a {
    color: rgb(175, 174, 174);
}
footer i {
    font-size: 10px;  
}
#footer2 {
    border-top: solid 1px rgba(248, 244, 244, 0.5);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#p1 {
    font-family: "droid-sans"; 
    font-size: 10px;  
}
#p2 {
    color: rgb(175, 174, 174);
    font-size: 10.5px;  
    margin-top: -5px;
}
#espacer {
    margin-right: 450px;
    margin-left: -40px;
}
.footer2Margin {
    margin-top: 10px;
    margin-bottom: 50px;
}
@media screen and (max-width: 960px) {
    #header1{
        flex-direction: column;
    }
    header img {
        margin-left: 5%;
    }
    #block3{
        flex-direction: column;
        align-items: center;
    }
    #COMMENTAIRES1 {
        margin-left: 5%;
    }
    #footer1 {
        flex-direction: column;
        align-items: center;
    }
    #contacte {
        margin-left: -55px;
    }
    #billet {
        margin-left: 0px;
    }
    #footer2 {
        flex-direction: column;
        align-items: center;
    }
    #espacer {
        margin-right: 0px;
        margin-left: 0px;
    }
}
